<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.core_camp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowAudioPlaybackCapture="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q">
        <activity android:name=".tee"/>
        <activity android:name=".ree" />
        <activity android:name=".signuplogin" />
        <activity android:name=".Signup" />
        <activity android:name=".Activity2" />
        <activity android:name=".accountsActivity" />
        <activity android:name=".discounts" />
        <activity android:name=".helpActivity" />
        <activity android:name=".languageActivity" />
        <activity android:name=".HOMEActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity" />
        <activity android:name=".notificationsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".jack_in_Box" />
        <activity android:name=".mcdonalds" />
        <activity android:name=".subway" />
        <activity android:name=".pizzahut" />
        <activity android:name=".burgerking" />
        <activity android:name=".wingstop" />
        <activity android:name=".whataburger" />
    </application>

</manifest>